a,
body,
button,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
li,
ol,
p,
span,
table,
td,
textarea,
th,
tr,
ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  color: #333;
  font-family: 微软雅黑;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: 100%;
}

a {
  color: #555;
}

a,
a:hover {
  text-decoration: none;
}

img {
  border: none;
}

li,
ol,
ul {
  list-style: none;
}

input,
textarea {
  outline: 0;
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: #b0b0b0;
}

:-moz-placeholder,
::-moz-placeholder {
  color: #b0b0b0;
}

:-ms-input-placeholder {
  color: #b0b0b0;
}

[v-cloak] {
  display: none;
}
